@(alugueis: Seq[domain.Aluguel])
@main( title = "Aluguéis") {
<div class="panel panel-default">
    <div class="panel-heading">
        Aluguéis
    </div>
    <table class="table">
        <tr>
            <th>Aluguel ID</th>
            <th>Diárias</th>
        </tr>
        @for(aluguel <- alugueis) {
            <tr>
                <td>@aluguel.id</td>
                <td>@aluguel.diarias</td>
                <td><a href='/aluguel/@aluguel.id'>Detalhes</a></td>
            </tr>
        }
    </table>
</div>
}